[
  { epmdless, [
        {transport, tcp},
        {listen_port, 17012}
    ]
  },
  { erlang_node_discovery, [
    {db_callback, epmdless_dist},
        {hosts, ["host1.com", "host2.com", "host3.com"]},
        {node_ports, [
            {'app1', 17012},
            {'app2', 17013},
            {'app3', 17014}
        ]},
        {cookie, sample_app_cookie}
  ]}
].
